body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #121212;
}

.highlight {
    color: #26e0c4;
}

.separator {
    border-top: 2px solid #26e0c4;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#content {
    margin-left: 25px;
}

/*-- BUTTONS --*/
.btn-outline-primary {
    color: white;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    width: 40%;
    height: 90%;
}

.btn:hover {
    border-color: #26e0c4;
    background-color: transparent;
}
/*-- END BUTTONS --*/

/*-- NAVIGATOR --*/
.nav-link.active, .nav-link:hover {
    color: #26e0c4;
}

.nav-link {
    color: #a3a3a3;
}
/*-- END NAVIGATOR --*/

#container {
	text-align: center;
}

#sub {
    font-size: 25px;
    margin-top: 15px;
}

#text {
    font-size: 50px;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
}

#cursor {
    margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: white;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: white;
	}
}

/*-- CUSTOM BREAKPOINTS --*/
/*-- Extra small devices (portrait phones, less than 576px) --*/
@media (max-width: 575.98px) {
    .btn-outline-primary {
        width: 100%

    }

    .btn {
        margin-bottom: 10px;
        height: 60%;
    }
}